.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 85vw;
  height: 100vh;
}

.about-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  /* flex-wrap: wrap ; */
}
