@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Poppins:wght@300;400;900&display=swap");

.homePageDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* font-size: 30vh; */
  padding-left: 4vw;
  color: white;
  background-color: black;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 30vh;
  margin: 0px;
  padding: 0px;
  background: -webkit-linear-gradient(rgb(102, 86, 240), #24d8b7);
  /* background: -webkit-linear-gradient(#c8efd3, #015e25); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcomeHomePage {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 7vh;
}

h3 {
  font-size: 7vh;
  background: -webkit-linear-gradient(rgb(102, 86, 240), #24d8b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
