.projectCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 6vw;
  /* padding-right: 2vw; */
}

.projectCardInfo {
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
}

.projectCardImage {
  margin-top: 10vh;
  margin-left: 3vw;
  margin-right: 3vw;

  border: 3px solid black;
}

.projectCardCarosel {
  padding-top: 0;
  /* border: 3px solid black; */
}

.carouselDiv {
  width: 70vw;
}
